<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/about.css">
        <meta charset= "UTF-8">
    </head>
    <body background = black>
        <center><h1>About the Caeser Cipher</h1></center>
        <p> The Caeser Cipher, also known as the shift cipher, is a type of substitution cipher where
        letters in the plaintext are replaced by letters a certain number of positions shifted in the alphabet. 
        It is the most widely known encryption techniques, but it is also the simplest and can be easily broken.</p>
        <p> The Caesar Cipher is named after Julius Caeser. He famously used the cipher (with a shift of 3) to write 
        secret messages of military signifigance. His nephew, Augustus, also used the cipher but not correctly. </p>
        <center> <h1> About the Vigenére Cipher </h1></center>
        <p> The Vigenére Cipher is a method of encrypting alphabetic text by using a series of interwoven Caesar ciphers, 
        based on the letters of the keyword. </p>
        
        <p> From Wikipedia</p>
    </body>
    
</html>