<!DOCTYPE html>
<html>
    <head> 
        <meta charset= "UTF-8">
        <title>Caesar Cipher</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body background="images/BGROUND.png">

        
        <center><h1> The Caeser Cipher </h1></center>
         <div align="right"><a href = "/about"><button type = "test">About</button></a></div>
        <form method = "POST" action = "/end">
            <left><h3>Enter a shift</h3></left>
            <left><input type = "text" name = "userShift"></left>
            <left><h3>Enter a word to encrypt</h3></left>
            <left><input type= "text" name = "userWord"></left>
            <left><button type = "submit" >Caesar cipher</button></left>
        </form>
        <form method = "POST" action = "/encrypt">
            <center><h1>The Vigenére Cipher</h1></center>
            <left><h3>Enter a key word</h3></left>
            <left><input type = "text" name = "userWordShift"></left>
            <left><h3>Enter a word to be encrypted</h3></left>
            <left><input type = "text" name = "userWord2"></left>
            <left><button type = "submit">Vigenére cipher</button></left>   
        </form>
    </body>
</html>

