<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/results_style.css">
        <meta charset= "UTF-8">
    </head>
    <body>
        <center><h1><%=@a2%></h1></center>
    </body>
    
</html>